@model List<FirstMVC.Models.Employee>
@using FirstMVC.Models
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr />
<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>department</th>
    </tr>
    @foreach(Employee e in Model)
            {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.Name</td>
                    <td>@e.Department</td>
                </tr>
            }
</table>

